  <h1>Entries</h1>

<table>
  <thead>
    <tr>
      <th>Date</th>
      <th>Drinks Logged</th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.updated_at.strftime("%F") %></td>
        <td style="text-align: center"><%= entry.drinks %></td>
      </tr>
    <% end %>
  </tbody>
</table>