<div class="container">
  <h1>Entries</h1>

  <div>
    <p>Alcohol free for: <%= @current %> days</p>
    <p>Alcohol free since: <%= @start_date.strftime("%F") %> </p>
  </div>

  <div>
    <p>I've been alcohol free for</p>
    <%# <p># years</p>
    <p># weeks</p>
    <p># days</p> %>
    <p class="pie animate" style="--p:40;--c:darkblue;--b:10px"><%= @sober_days_in_month %>% of April</p>

  </div>
</div>